@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?afcl4l') format('truetype'),
    url('fonts/icomoon.woff?afcl4l') format('woff'),
    url('fonts/icomoon.svg?afcl4l#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icm {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icm-check:before {
  content: "\e925";
}
.icm-circle-arrow-right:before {
  content: "\e923";
}
.icm-circle-arrow-left:before {
  content: "\e924";
}
.icm-australia:before {
  content: "\e908";
}
.icm-calendar:before {
  content: "\e922";
}
.icm-fb:before {
  content: "\e90a";
}
.icm-file:before {
  content: "\e90b";
}
.icm-group:before {
  content: "\e90c";
}
.icm-hourglass:before {
  content: "\e90d";
}
.icm-h-tel:before {
  content: "\e90e";
}
.icm-insta:before {
  content: "\e90f";
}
.icm-place:before {
  content: "\e910";
}
.icm-arrow-down:before {
  content: "\e911";
}
.icm-arrow-up:before {
  content: "\e912";
}
.icm-arrow-left:before {
  content: "\e913";
}
.icm-arrow-right:before {
  content: "\e914";
}
.icm-skype:before {
  content: "\e915";
}
.icm-support:before {
  content: "\e916";
}
.icm-vk:before {
  content: "\e917";
}
.icm-wc:before {
  content: "\e918";
}
.icm-angle-left:before {
  content: "\e919";
}
.icm-angle-up:before {
  content: "\e91a";
}
.icm-angle-right:before {
  content: "\e91b";
}
.icm-angle-bottom:before {
  content: "\e91c";
}
.icm-arar:before {
  content: "\e91d";
}
.icm-bed:before {
  content: "\e91e";
}
.icm-card:before {
  content: "\e91f";
}
.icm-card-rotate:before {
  content: "\e920";
}
.icm-envelope:before {
  content: "\e921";
}
.icm-flag-flat:before {
  content: "\e900";
}
.icm-flag:before {
  content: "\e901";
}
.icm-id-card:before {
  content: "\e902";
}
.icm-sailing:before {
  content: "\e903";
}
.icm-wc-sign:before {
  content: "\e904";
}
.icm-yacht:before {
  content: "\e905";
}
.icm-boat:before {
  content: "\e906";
}
.icm-catamaran:before {
  content: "\e907";
}
.icm-fast:before {
  content: "\e909";
}
